name: Nix Chromium Build

on:
  push:
    branches: [master, pyagent]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build and push
        run: |
          # Build
          nix build .#chromium
          docker load < result

          # Tag
          IMAGE=$(echo "ghcr.io/${{ github.repository }}/chromium-nix" | tr '[:upper:]' '[:lower:]')
          docker tag neko-chromium:2.5.0 $IMAGE:latest

          # Push
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push $IMAGE:latest
